@font-face {
  font-family: "iconfont"; /* Project id 4799269 */
  src: url("iconfont.woff2?t=1735793752480") format("woff2"),
    url("iconfont.woff?t=1735793752480") format("woff"),
    url("iconfont.ttf?t=1735793752480") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enter-key:before {
  content: "\e719";
}

.icon-moon:before {
  content: "\e653";
}

.icon-sun:before {
  content: "\e62d";
}

.icon-refresh:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e625";
}

.icon-plus:before {
  content: "\e600";
}

.icon-close-circle:before {
  content: "\e658";
}

.icon-setting:before {
  content: "\e87e";
}

.icon-search:before {
  content: "\e60b";
}
